.siderbar, .hamburger, .area, hr, .icons, .buttonIcons {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90px;
    height: 95vh;
    box-shadow: 1px 1px 10px #dcdcdc;
  }

  .hamburger {
    display: block;
    margin-top: 29px;
    margin-bottom: 50px;
    font-size: x-large;
    cursor: pointer;
  }

  .area {
    display: block;
    color: #777;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 21px;
    user-select: none;
  }

  hr {
    display: block;
    width: 80%;
    border: 1px solid #D9D9D9;
    margin: 35px 0;
  }

  .icons {
    display: block;
    margin: 12px 0;
    cursor: pointer;
    font-size: large;
    user-select: none;
    pointer-events: none;
  }

  .buttonIcons {
    display: block;
    color: #777;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20px;
    padding: 0 25px;
    background-color: #FFF;
  }

  .selected {
    background-color: #F2F2F2;
    border-radius: 5px;
    color: #9B00F0;
    cursor: pointer;
  }
}