.main {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.title {
  color: #424242;
  margin-bottom: 0;
}

.subtitle {
  margin: 0;
  color: #777;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: medium;
  color: #FFF;
  background-color: #9b00f0;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin: 30px 0;
  cursor: pointer;
}

.table {
  box-shadow: 1px 1px 3px #bebebe;
  border-radius: 10px;
}

.filters {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 0;
  background-color: white;
  border-bottom: 1px solid #DDD;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.counter {
  color: #263072;
  background-color: #F2F5FF;
  padding: 2px;
  border-radius: 5px;
  margin:0 5px;
}

.inputText {
  font-family: 'Montserrat', sans-serif;
  font-size: small;
  background-color: #F2F2F2;
  margin-left: 8px;
  padding-left: 8px;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 30px;
}

.inputText::placeholder {
  color: #BBB;
}

.inputText:focus, .dropdown:focus {
  outline: none;
}

.searchButton {
  display: none;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  height: 32px;
  background-color: #FFF;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.opened {
  color: #263072;
  border: 1px solid #263072;
  outline: 2px solid #CDD5F2 !important;
  outline-offset: 1px;
}

.closed {
  color: #777;
  border: 1px solid #D9D9D9;
  background-color: #FFF;
}

.iconFilter {
  padding-right: 5px;
}

.checkboxList {
  display: none;
  list-style: none;
  position: fixed;
  top:278px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: white;
  padding: 0;
}

.titleCheckbox {
  padding-left: 15px;
  font-weight: bold;
  color: #777;
}

.checkboxItem {
  cursor: pointer;
}

li:hover, .checkboxItem:hover {
  background-color: #F2F5FF !important;
  border-radius: 5px;
  cursor: pointer;
}

input[type=checkbox] {
  accent-color: #263072;
}

li {
  padding: 15px;
}

.clearFilters {
  border-top: 1px solid #DDD;
  margin: auto;
  color: #263072;
}

table {
  border-collapse: collapse;
  background-color: white;
  width: 100%;
}

th {
  color: #9b00f0;
}

td, th {
  border-bottom: 1px solid #DDD;
  text-align: left;
  padding: 8px;
  height: 35px;
}

.checkboxTable {
  padding-left: 25px;
  transform: scale(1.3);
}

.arrowDown {
  font-size: small;
}

.rating, .date, .delete {
  display: none;
}

.results {
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 10px;
  padding-left: 30px;
  height: 35px;
  border-radius: 0 0 10px 10px;
}

@media (min-width: 425px) {
  .inputText {
    width: 200px;
    padding-left: 15px;
    border-radius: 30px;
  }

  .searchButton {
    display: flex;
    position: absolute;
    margin-right: 125px;
    justify-content: center;
    align-items: center;
    background-color: #263072;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-size: large;
    border-radius: 500px;
    height: 30px;
  }

  li {
    padding-right: 40px;
  }

  .clearFilters {
    padding-left: 40px;
  }

  .rating {
    display: table-cell;
  }

  .delete button {
    border: none;
    background-color: #FFF;
    font-size: large;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .main {
    margin: auto;
    max-width: 768px;
  }

  .headers {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }

  .button {
    font-size: large;
  }

  .inputText {
    font-size: medium;
    width: 233px;
  }

  .searchButton {
    margin-right: 145px;
  }

  .dropdown {
    margin-right: 30px;
  }

  .checkboxList {
    top: 240px;
    margin-right: 30px;
  }

  .date, .delete {
    display: table-cell;
  }

  .date {
    text-align: center;
  }

  .delete {
    cursor: pointer;
    width: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .main {
    width: 1024px;
  }
}

@media (min-width: 1440px) {
  .main {
    max-width: 1440px;
  }
}
